.flex2, .flex1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grids3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "uno dos tres " "cuatro cinco seis";
  row-gap: 20px;
}

.divPadre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#carrito-page3 div {
  font-weight: 500;
  text-align: center;
  font-size: larger;
  padding: 10px;
  border: solid black 2px;
  margin: 10px;
  background-color: rgb(219, 94, 94);
}

.slide-mia {
  margin-top: 10px;
  margin-bottom: 200px;
}

.slide-mia img {
  height: 65vh;
}

.nuestrospag1 {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.card-mia {
  border-radius: 0;
  margin: 20px;
  width: 700px;
}

.img-mia {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boton-mio {
  background-color: #85a48f;
  border-color: black;
}

.boton-mio:hover {
  background-color: #85a48f;
  border-color: black;
}

.logo2 {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 1px;
  margin-left: 30px;
}

.mapa {
  float: right;
  margin-left: 50%;
}

.norelevant {
  margin-top: 1px;
  margin-bottom: 5px;
}

.footerdos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.listas li {
  display: inline-block;
}

h1, h2, h3 {
  text-align: center;
}

.alinear-page4 {
  text-align: center;
  font-size: medium;
}

.listas img {
  border-radius: 70px;
  transition: all 1.4s;
}

.listas img:hover {
  transform: scale(1.5);
}

.encabezado {
  font: "playfair Display", serif;
}

.encabezado img {
  background-color: #66a27c;
}

.navbar-mia {
  background-color: #66a27c;
}

.activo {
  text-decoration: underline;
  font-weight: bold;
}

h1, h2, h3 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "playfair Display", serif;
  overflow-x: hidden;
}

.h2prod {
  background-color: #aabeb1;
  margin-top: 70px;
  margin-bottom: 40px;
}

.forms {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.mapapag5 {
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  body {
    background-color: rgb(241, 241, 233);
  }
  .card-mia {
    margin: 20px;
  }
  .img-data {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
  .grids4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "uno1 dos2";
    font-family: "Playfair Display", serif;
  }
  .grids3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .divPadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .img-data {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
