

@import './abstract/mapa';
@import './abstract/extend';
@import './abstract/mixin';
@import './abstract/variables';


@import './componentes/index';
@import './componentes/footer';
@import './componentes/header';

body{
    background-color: white;
    font-family:$font-elegida;

}



*{
    margin: 0;
    padding: 0;
}
