.logo2{
    @include logo2(100px, 100px, 40px, 1px, 30px );
}

.mapa{
    float: $mapa;
    margin-left: map-get($norelevant, mrg-left );
} 
.norelevant{
    margin-top: map-get($norelevant, mrg-top);
    margin-bottom: map-get($norelevant, mrg-bot);
}
.footerdos{
    display: map-get($display,dis );
    flex-direction: map-get($display,flex-direction );
    text-align: map-get($display,text-alig );
    
}
.listas li{
    display:map-get($display,inl-block );
} 
h1,h2,h3{
    text-align: map-get($display, text-alig );
}
.alinear-page4{
    text-align: $align;
    font-size: $ftsize;
}