.carousel{
width: map-get($carousel, wid );
height: map-get($carousel, height );
}

.slide-mia{
    margin-top: $margin;
    margin-bottom: 200px;
}
.slide-mia img{
    height: $height
}

.flex1{
    @extend %flex1;
}

.nuestrospag1{
    @include margenes (60px, 30px, 0px, 0px) ;/*!important*/

}
.card-mia {
    border-radius: $border;
    margin: $margin*2;
    width: map-get($carousel, width- );
}
  .img-mia{
    border-radius: $border;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .boton-mio{
   background-color: $color1;
   border-color: black;
  }
