%flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
};
%grids4{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
    "uno1 dos2";
   


}

%grids3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "uno dos tres " 
    "cuatro cinco seis";
    row-gap: 20px;
   
}

%divPadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
 
}
%carrito{
    font-weight: 500;
    text-align: center;
    font-size: larger;
    padding: 10px;
    border: solid black 2px;
    margin: 10px;
    background-color: rgb(219, 94, 94);

}
