$carousel:(
wid:auto,
height:250px,
width-:700px,
hei-:100px,
);
$iddecarrito:(
    font-weight: 500,
    text-align: center,
    font-size: larger,
    pd: 10px,
    bord: solid black 2px,
    mar: 10px,
    backclor: rgb(219, 94, 94),
);

$activo: (
text-deco: underline,
fon-weight: bold,
);

$norelevant:(
mrg-top: 1px,
mrg-bot:5px,
mrg-left:50%,
mrg:20px,
);
$display:(
dis: flex,
flex-direction: column,
text-alig: center,
inl-block:inline-block,
fle-wrap:wrap,

);
$h2:(
   bck: #aabeb1,
   mrtop:70px,
   mrbot:40px,
   txtalign:left
)
