$font-elegida:'playfair Display', serif;
$bcolor: #66a27c;
$margin:10px;
$border: 0;
$mapa:right;
$bckblnmode:#66a27c;
$height:65vh;
$obj:cover;
$color1:#85a48f;
$align:center;
$ftsize:medium;
$brd-radius:70px;
$transition: all 1.4s;
$transform: scale(1.5);