$font-elegida:'playfair Display', serif;
$bcolor: #2a4835;
$margin:10px;
$border: 0;
$mapa:right;
$bckblnmode:hsl(142, 26%, 22%);
$height:65vh;
$obj:cover;
$color1:#85a48f;
$align:center;
$ftsize:medium;
